{
	"territorySize" : 1000,
	"territoryPadding" : 100,
	"players" :
	[
		{"name" : "Team 1 - Pink", "color" : "ff00ff", "ip" : "192.168.1.127"},
		{"name" : "Team 2 - Yellow", "color" : "ffc926"},
		{"name" : "Team 3 - Green", "color" : "00d900"},
		{"name" : "Team 4 - White", "color" : "ffffff"},
		{"name" : "Team 5 - Black", "color" : "000000"},
		{"name" : "Team 6 - Purple", "color" : "69008c"}
	],
	"ticksPerSecond" : 5,
	"planeTypes" :
	[
		{"name" : "Jumbo 707", "graphic" : "plane.png", "speed" : 10, "points" : 10, "penalty" : 5, "turn_speed" : 20, "collision_radius" : 25},
		{"name" : "Jumbo 707", "graphic" : "plane.png", "speed" : 15, "points" : 10, "penalty" : 5, "turn_speed" : 20, "collision_radius" : 50}
	],
	"columnCount" : 2,
	"minGenerationInterval" : 50,
	"maxGenerationInterval" : 60,
	"landingLenience" : 5,
	"crashDuration" : 1000,
	"fuelConsumptionRate" : 1,
	"backupInterval" : 1000,
	"fuelEnabled" : false
}